// Breakpoints

$tablet: 768px;       // Tablet begins here
$desktop: 1100px;     // Desktop begins here

// Font stacks
$font-base: Arial, sans-serif;

$font-light: 300;
$font-book: 400;
$font-medium: 500;
$font-bold: 700;

$base-bg: #fff;
$base-primary: #fff;
$base-primary: #fff;
